#boards {
    background-color: green;
}
:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url("/static/img/background.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Monserrat', sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;

}

h1{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;

}

button{
    background: #ddd url("/static/img/background.jpeg");
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
    border-radius: 16px;

}

.board-container {
    max-width: 960px;
    margin: 0 auto;
}

#new-board-form{
    margin: 0 auto;
    text-align: center;
}


section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 50px;
    background: white;
    border: 3px solid white;
    border-radius: 16px;
    opacity: 85%;
}

.board-title{
    margin-top: 6px;
    display: inline-block;
    font-size: 20px;
    color: darkred;
    font-weight: 300;
    min-width: 200px;
}

.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: wrap;
}

.board-column{
    padding: 10px;
    flex: 1;
}

.board-column-content{
    min-height: 49px;
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
    color: darkred;
    font-weight: 900;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
    filter: grayscale(0);
}

.delete-column-button{
    position: relative;
    float: right;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove{
    display: block;
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 14px;
    cursor: pointer;
}

.card-archive{
    display: block;
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 14px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}


#navbar {
    display: flex;
    height: max-content;
}

#navbar-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

#navbar a {
    text-decoration: none;
    font-weight: bold;
}

#navbar * {
    color: brown;
}

#navbar-buttons * {
    margin-top: 0.75rem;
    margin-right: 2rem;
}
.add-new-card{
    display: None;
}

.logo{
    width: 15%;
    height: 15%;
}

#alertId {
    display: none;
    text-align: center;
    width: 30%;
}


button.toggle-board-button{
    float: right;
}

span.board-column-title{
    position: center;
}

.board-column{
    flex-wrap: wrap;
}
.pageTitle {
    color: white;
}


#load-new-board-form{
    opacity: 90%;
}


button.toggle-board-button{
    margin-top: 8px;
    float: right;
    margin-right: 4px;
}

input#new-board-title {
    border-radius: 16px;
    margin-bottom: 20px;
    outline: none;
}

h1{
    font-family: 'Lobster', cursive
}

.card{
    border-radius: 4px;
}

#load-private-board-form{
    display: None;
}

#closeModalButton, #loginModalButton {
    border-radius: 16px;
}

input.form-control{
    border-radius: 16px;
}

.col-form-label, .modal-title{
    font-weight: 100;
    margin-top: 6px;
    display: inline-block;
    font-size: 20px;
    color: darkred;
    font-weight: 300;
    min-width: 200px;
}

.modal-title {
    font-weight: 300;
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}

@media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 50%;
    }
}    