<div class="modal fade" id="registration-modal" tabindex="-1" aria-labelledby="registrationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="registrationModalLabel">Registration</h2>
                <button type="button" id="regmodalclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modal-form" autocomplete="off">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="recipient-registration-name">
                    </div>
                    <div class="mb-3" id="psw-div">
                        <h6 class="text-danger"></h6>
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="psw1">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="psw2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="regclosebutton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="registration-btn">Registration</button>
            </div>
        </div>
    </div>
</div>